@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cabin+Condensed&family=Courgette&family=Fira+Sans&family=Fredoka+One&family=Inter:wght@300&family=Leckerli+One&family=Pacifico&family=Poppins:wght@500&family=Roboto&family=Roboto+Condensed&family=Rubik&family=Signika+Negative:wght@300&family=Source+Sans+Pro&family=Ubuntu:wght@300;400&family=Varela+Round&family=Yanone+Kaffeesatz&display=swap');
body{
    font-family: "Poppins";
}
/* ================== addtodo css ================ */
.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    gap: 2rem;
    width: 70%;
}

/* ================= todolist css ==================== */
.details{
   border: 2px solid black;
   border-radius: 1rem;
   padding: .5rem 1rem;
   text-align: center;
   margin-bottom: 2rem;
}

/* =======================todos css=========================== */

.Writetext {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 3rem 1rem;
    width: 35%;
}

@media screen and (max-width: 1024px) {
    .Writetext {
        width: 45%;
    }
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        gap: 2rem;
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .Writetext {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .Writetext {
        width: 84%;
    }
    .list{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ================ footer css ==================== */
.bottom-nav{
    margin-top: 3.3rem;
    background-color: rgb(18, 17, 17);
    padding-top: .8rem;
    padding-bottom: .8rem;
    color: white;
    text-align: center;
    font-size: .8rem;
}

@media screen and (max-width: 400px) {
    .bottom-nav{
       display: none;
    }
}
